
html {
  background: #222;
}

#loading-container {
  font-family: sans-serif;
  position: absolute;
  color: white;
  letter-spacing: 0.8rem;
  text-align: center;
  top: 40%;
  width: 100%;
  text-transform: uppercase;
}
